@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul style="border: none; color: white;" class="navbar nav bg-light">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
                <div class="drowdown-menu">
                    <a class="dropdown-item" asp-area="" asp-controller="Forum" asp-action="Index">Neighborhood Watch</a>
                    <a class="dropdown-item" asp-area="" asp-controller="LostAndFound" asp-action="Index">Lost And Found</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Emergency" asp-action="Index">Emergency Resources</a>
                </div>
            </li>*@
        <li class="btn-group">
            <button style="color: white;" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Resources
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="" asp-controller="Forum" asp-action="Index">Neighborhood Watch</a>
                <a class="dropdown-item" asp-area="" asp-controller="LostAndFound" asp-action="Index">Lost And Found</a>
                <a class="dropdown-item" asp-area="" asp-controller="LostAndFound" asp-action="EmergencyResources">Emergency Resources</a>
                @*<div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>*@
            </div>
        </li>
        <li class="btn-group">
            <button style="color: white;" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Where are your neighbors?
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="" asp-controller="Location" asp-action="Index">Location</a>
                <a class="dropdown-item" asp-area="" asp-controller="Location" asp-action="Create">Get On The Map</a>
                @*<div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>*@
            </div>
        </li>
        <li class="btn-group">
            <button style="color: white;" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="" asp-controller="Email" asp-action="Index">Email Us</a>
                <a class="dropdown-item" asp-area="" asp-controller="Email" asp-action="Create">Other Contact Information</a>
                <a class="dropdown-item" asp-area="" asp-controller="Email" asp-action="About"></a>"
                @*<div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>*@
            </div>
        </li>
        <li class="btn-group">
            <button style="color: white;" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello @User.Identity.Name!
            </button>
            <div class="dropdown-menu">
                <a class="nav-link text-dark" asp-area="" asp-controller="Neighbor" asp-action="Edit">Edit Your Information</a>
                @*<div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>*@
            </div>
        </li>

        <li class="btn btn-success ">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>


    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
