<body>
    <p style="font-size: 35px;">Contact Information</p>
    <br />
    <br />
    <p style="color: forestgreen; font-size: 25px;">Community</p>
    <p style="text-decoration: underline;">Business Address:</p>
    <p>2000 S. Wentworth Ave.</p>
    <p>Milwaukee, Wi. 53207</p>
    <br />
    <p style="text-decoration: underline;">Phone Number: </p>
    <p>(414)-111-1234</p>
</body>


