
<p style="font-size: 27px;">Health & Safety</p>
<body>
    <h3 style="color: red; ">
        EMERGENCY RESOURCES
    </h3>
    <br />
    <h4 style="color: black;">Police</h4>
    <div>
        3006 S. 27th Street<br />
        Milwaukee, WI 53212<br />
        (414)-935-7262
    </div>
    <div>
        District Six is located on the far south side of Milwaukee. <br />
        District Six is comprised of a 7.7 square mile area with a district population in excess of 66,000 residents.
    </div>
    <a style="color: blue;" href="https://city.milwaukee.gov/police">Website- Milwaukee Police Department</a> |
    <a style="color: blue;" href="https://city.milwaukee.gov/ImageLibrary/Groups/mpdAuthors/PDFs/District6Map.pdf">Map of District 6</a>
    <br />
    <br />
    <h4 style="color: black;">Fire Department </h4>
    <a style="color: blue;" href="https://city.milwaukee.gov/MFD">Website- Milwaukee Fire Department</a>

    <div>
        711 W. Wells Street<br />
        Milwaukee, WI. 53233<br />
        (414)-286-5213
    </div>
    <br />
    <br />
    <h4 style="color: black;">Wisconsin Poison Center</h4>
    <a style="color: blue;" href="https://www.wisconsinpoison.org/">Website- Wisconsin Poison Center</a>
    <div>1-800-222-1222</div>
    <br />
    <br />
    <h4 style="color: black;">Hospitals</h4>
    <h5>Aurora St. Luke's Medical Center</h5>
    <a style="color: blue;" href="http://www.aurorastlukes.org/">Website- Aurora St. Luke's Medical Center</a>
    <div>
        2900 W. Oklahoma Avenue<br />
        Milwaukee, WI. 53215<br />
        (414)-649-6000
    </div>
    <br />
    <br />
    <h5>St. Francis Ascension Hospital</h5>
    <a style="color: blue;" href="https://healthcare.ascension.org/Locations/Wisconsin/WIWHE/Milwaukee-Ascension-St-Francis-Hospital/Medical-Records-Request">Website- Ascension St. Francis</a>
    <div>
        3237 S. 16th Street<br />
        Milwaukee, Wi. 53215<br />
        (414)-647-5000
    </div>

    <br />
    <br />
    <h5>Aurora Sinai Medical Center</h5>
    <a style="color: blue;" href="https://healthcare.ascension.org/Locations/Wisconsin/WIWHE/Milwaukee-Ascension-St-Francis-Hospital/Medical-Records-Request">Website- Aurora Sinai Medical Center</a>
    <div>
        1020 N. 12th Street<br />
        Milwaukee, Wi. 53233<br />
        (414)-219-5960
    </div>


</body>
