<html>
<head>
    Emergency Resources
</head>
<body>
    <h2>
        Health & Safety
    </h2>
    <h3>Police</h3>
    <a href="https://city.milwaukee.gov/police">Website- Milwaukee Police Department</a>
    <a href="https://city.milwaukee.gov/ImageLibrary/Groups/mpdAuthors/PDFs/District6Map.pdf">Map of District 6</a>

    <div>
        3006 S. 27th Street
        Milwaukee, WI 53212
        (414)-935-7262
    </div>

    <div>
        District Six is located on the far south side of Milwaukee. <br />
        District Six is comprised of a 7.7 square mile area with a district population <br />
        in excess of 66,000 residents.
    </div>

    <h3>Fire Department </h3>
    <a href="https://city.milwaukee.gov/MFD">Website- Milwaukee Fire Department</a>

    <div>
        711 W. Wells Street
        Milwaukee, WI. 53233
        (414)-286-5213
    </div>

    <h3>Wisconsin Poison Center</h3>
    <a href="https://www.wisconsinpoison.org/">Website- Wisconsin Poison Center</a>
    <div>1-800-222-1222</div>

    <h3>Hospitals</h3>
    <h4>Aurora St. Luke's Medical Center</h4>
    <a href="http://www.aurorastlukes.org/">Website- Aurora St. Luke's Medical Center</a>
    <div>
        2900 W. Oklahoma Avenue
        Milwaukee, WI. 53215
        (414)-649-6000
    </div>

    <h4>St. Francis Ascension Hospital</h4>
    <a href="https://healthcare.ascension.org/Locations/Wisconsin/WIWHE/Milwaukee-Ascension-St-Francis-Hospital/Medical-Records-Request">Website- Ascension St. Francis</a>
    <div>
        3237 S. 16th Street
        Milwaukee, Wi. 53215
        (414)-647-5000
    </div>
    
    
    <h4>Aurora Sinai Medical Center</h4>
    <a href="https://healthcare.ascension.org/Locations/Wisconsin/WIWHE/Milwaukee-Ascension-St-Francis-Hospital/Medical-Records-Request">Website- Aurora Sinai Medical Center</a>
    <div>
        1020 N. 12th Street
        Milwaukee, Wi. 53233
        (414)-219-5960
    </div>
  

</body>
</html>