
<body>
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading"><b>Events In Your Neighborhood!</h4>
        <p class="mb-0">Keep checking back for any updated events.  A lot more to come in 2020!</p>
    </div>
    <div>
        <h2 style="text-decoration: underline;">Events</h2>
        <div>
            <h4 style="font-weight: bold;">Bay View Winter Blast</h4>
            <h5>Date and time still TBD dependent on the state of coronavirus.</h5>
            <p>
                A winter favorite! The Bay View Neighborhood Association hosts an annual winter gathering for neighbors, and other Milwaukeeans, to get together and have a (winter) blast! <br />
                This family-friendly event is typically hosted on a Saturday in January and includes food, music, crafts and games.
            </p>
            <img style="width: 50%; height: 200px;" src="~/css/Images/winterblast.jpg" />
        </div>
        <br />
        <br />
        <div>
            <h4 style="font-weight: bold;">Christkindlmarket</h4>

            <h6>We are going virtual this year!</h6>
            <h7><i>More details to come in 2021</i></h7>
            <p>
                Annually -- the Saturday of Mother's Day weekend -- the Bay View Neighborhood Association holds a community sale in Bay View offering a variety of plants, including flowers, ground cover plants, grasses and hanging baskets, at prices you won’t find anywhere else.<br /> Take advantage of neighborhood specials on annuals and perennials at this community event.

            </p>
            <p>
                <a style="color: blue;" href="https://www.christkindlmarket.com/events/">Christkindlmarket Calendar</a>
            </p>
            
            <img style="width: 70%; height: 400px;" src="~/css/Images/christkindlmarket-milwaukee.jpg" />
        </div>
        <br />
        <br />
        <div>
            <h4 style="font-weight: bold;">Plant Sale</h4>
            <h6> SATURDAY of MOTHER"S DAY</h6>
            <h6>Saturday, May 8th. 2021</h6>
            <h7><i>More details to come in 2021</i></h7>
            <p>
                Annually -- the Saturday of Mother's Day weekend -- the Bay View Neighborhood Association holds a community sale in Bay View offering a variety of plants, including flowers, ground cover plants, grasses and hanging baskets, at prices you won’t find anywhere else.<br /> Take advantage of neighborhood specials on annuals and perennials at this community event.
            </p>
            <img style="width: 50%; height: 300px;" src="~/css/Images/plant-sale-logo.jpg" />
        </div>
        <br />
        <br />
        <div>
            <h4 style="font-weight: bold;">Chill On The Hill</h4>
            <h6> To Be Continued in 2021...........</h6>

            <img style="width: 50%; height: 500px;" src="~/css/Images/Chillonthehill.jpg" />
        </div>
    </div>
</body>