<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/create.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body class="backgroundimage">
    <div class="fontheader">COMMUNITY</div>
        <div class="slogan">Stay up to date in your neighborhood!</div>
</body>

</html>
