@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .heading1 {
        text-shadow: 4px 5px 4px red;
        font-size: 100px;
        text-align: center;
    }
    .heading2 {
        text-shadow: 4px 5px 4px orange;
        font-size: 100px;
        text-align: center;
    }
    .heading3 {
        text-shadow: 4px 5px 4px yellow;
        font-size: 100px;
        text-align: center;
    }
    .heading4 {
        text-shadow: 4px 5px 4px green;
        font-size: 100px;
        text-align: center;
    }
    .heading5 {
        text-shadow: 4px 5px 4px blue;
        font-size: 100px;
        text-align: center;
    }

    .textunderheading {
        text-shadow: 1px 1px 1px black;
        font-weight: bold;
        color: white;
        font-size: 20px;
        text-align: center;
    }
</style>
<link rel="stylesheet"href="~/css/nav.css" />
<body class="pictureclass"></body>
<p style="margin-top: 20%;">
    <center>
        <span class="heading1" style="color: white;">C</span>
        <span class="heading2" style="color: white;">O</span>
        <span class="heading3" style="color: white;">M</span>
        <span class="heading4" style="color: white;">M</span>
        <span class="heading5" style="color: white;">U</span>
        <span class="heading1" style="color: white;">N</span>
        <span class="heading2" style="color: white;">I</span>
        <span class="heading3" style="color: white;">T</span>
        <span class="heading4" style="color: white;">Y</span><br />

        <span class="textunderheading">Stay up to date in your neighborhood!</span>
    </center>
</p>

