@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .heading{
        text-shadow: 4px 5px 4px yellow; 
        font-size: 100px; 
        text-align: center;
        color: seagreen;  
    }
    .textunderheading{
        text-shadow: 4px 4px 4px seagreen; 
        color: darkslategrey; 
        text-align: center; 
         
    }
</style>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="css/nav.css">
    
</head>
<body>
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Community Alert Message!</h4>
        <p class="mb-0">Hello! Welcome to the Bay View Community. Take a look around and feel free to click on the Contact Us page in the navigation bar if you have any questions! <a href="#" class="alert-link"></a>.</p>
    </div>
    <p class="heading">COMMUNITY</p>
    <p class="textunderheading">Stay up to date in your neighborhood!</p>


</body>


</html>